<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Current Order</title>
</head>
<body>
<th:block layout:fragment="main-content">
<h1 th:text="#{order.action.complete.getCurrent.title}">Current order</h1>
    <div th:unless="${readOnly}" class="d-flex gap-1 mb-2">
        <div>
            <form method="post" th:action="@{/orders/current/delete}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-trash"></i>
                    [[#{order.action.clear}]]
                </button>
            </form>
        </div>

        <div>
            <form method="post" th:action="@{/orders/current/complete}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-check"></i>
                    [[#{order.action.complete}]]
                </button>
            </form>
        </div>

        <div>
            <form method="get" th:action="@{/appliances}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-cart-plus"></i>
                    [[#{order.action.continueShopping}]]
                </button>
            </form>

        </div>
    </div>
<div th:object="${order}">
    <table class="table table-hover">
        <thead>
        <tr class="table-dark">
            <th th:text="#{order.lineItem.attribute.applianceName}"></th>
            <th th:text="#{order.lineItem.attribute.quantity}"></th>
            <th th:text="#{appliance.attribute.price}"></th>
            <th th:text="#{order.lineItem.attribute.subtotal}"></th>
            <th th:unless="${readOnly}" th:text="#{misc.attribute.operation}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row: *{getOrderLineItems}">
            <td th:text="${row.appliance.name}"/>
            <td th:text="${row.quantity}"/>
            <td th:text="${row.appliance.price}"/>
            <td th:text="${row.subtotal}"/>
            <td th:unless="${readOnly}">
                <div class="d-flex gap-1">
                    <form method="post" th:action="@{/orders/current/lineItem/{id}/remove(id=${rowStat.index})}">
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-trash"></i>
                            [[#{order.lineItem.action.remove}]]
                        </button>
                    </form>
                    <button type="button" th:id="${#ids.seq('lineItemModalLink')}" class="btn btn-primary"
                            data-bs-toggle="modal" th:data-bs-target="|#${#ids.seq('lineItemModal')}|">
                        <i class="fa fa-edit"></i>
                        [[#{order.lineItem.action.updateQuantity}]]
                    </button>
                    <th:block th:insert="~{misc/fragments/modal :: editLineItemModal(lineItem=${row}, stat=${rowStat})}"></th:block>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <th colspan="2" th:text="#{order.attribute.total}"></th>
        <td colspan="3" th:text="${order.amount}"/>
        </tfoot>
    </table>
</div>
</th:block>
</body>
</html>