<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order creation</title>
</head>
<body>
<th:block layout:fragment="main-content">
<h1 th:text="#{client.header.list}"></h1>
<table class="table table-hover">
    <thead>
    <tr class="table-dark">
        <th th:text="#{object.user.id}"></th>
        <th th:text="#{object.user.name}"></th>
        <th th:text="#{object.user.email}"></th>
        <th th:text="#{object.user.password}"></th>
        <th th:text="#{object.client.card}"></th>
        <th >Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:text="${client.id}"/>
        <td th:text="${client.name}"/>
        <td th:text="${client.email}"/>
        <td th:text="${client.password}"/>
        <td th:text="${client.card}"/>
        <td>
            <div>
                <a th:href="@{clients/}+${client.id}+@{/delete}">
                    <span class="icon">
                          <i class="fa fa-minus"></i>
                    </span>
                </a>
            </div>
        </td>
    </tr>

</tbody>
    <tr>
        <th scope="row" colspan="6">
            <th:block th:replace="~{misc/fragments/pagination :: #pagination-summary(page=${clients})}" />
        </th>
    </tr>
</table>
<th:block th:replace="~{misc/fragments/pagination :: controls(page=${clients})}" />
<a th:href="@{clients/signUp}" class="btn btn-primary" th:text="#{client.btn.new}">New client</a>
</th:block>
</body>
</html>