<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order creation</title>
</head>
<body>
<div class="row justify-content-center" layout:fragment="main-content">
    <div class="col-md-4">
        <h1 class="text-start" th:text="#{client.action.signUp}"></h1>
        <form method="post" th:action="@{/clients/signUp}" th:object="${client}">
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.name}, fieldName='name')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.email}, fieldName='email')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.password}, fieldName='password')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.passwordRepeated}, fieldName='passwordRepeated')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{client.attribute.card}, fieldName='card')">
            </th:block>
            <div class="mb-3"><a class="btn btn-link ps-0" th:href="@{/employees/signUp}" th:text="|#{employee.action.signUp}?|">Sign up as Employee?</a></div>
            <button class="btn btn-primary" type="submit" th:text="#{user.action.signUp}">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>