<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Change</title>
</head>
<body>
<div class="row justify-content-center" layout:fragment="main-content">
    <div class="col-md-4">
    <h1 th:text="#{user.action.changePassword}"></h1>
        <!-- th:action for _csrf -->
    <form method="post" th:action="@{/manageAccount/changePassword}" th:object="${form}">
        <th:block th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.password}, fieldName='password')"></th:block>
        <th:block th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.passwordRepeated}, fieldName='passwordRepeated')"></th:block>
        <button class="btn btn-primary" type="submit" th:text="#{misc.action.enter}">Send</button>
    </form>
    </div>
</div>
</body>
</html>