<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
</head>
<body>
<div class="row justify-content-center" layout:fragment="main-content">
    <div class="col-md-4">
        <h1 th:text="#{employee.action.signUp}"></h1>
        <form action="#" method="post" th:action="@{/employees/signUp}" th:object="${employee}">
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.name}, fieldName='name')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.email}, fieldName='email')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.password}, fieldName='password')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{user.attribute.passwordRepeated}, fieldName='passwordRepeated')"></th:block>
            <th:block
                    th:insert="misc/fragments/form :: textinput(labelText=#{employee.attribute.department}, fieldName='department')">
            </th:block>
            <div class="mb-3">
                <a class="btn btn-link ps-0" th:href="@{/clients/signUp}" th:text="|#{client.action.signUp}?|"></a>
            </div>
            <button class="btn btn-primary" th:text="#{user.action.signUp}" type="submit">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>