<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{misc/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      th:with="isUpdateMode=${editMode.name() eq 'UPDATE'}">
<head>
    <title>Edit appliance</title>
</head>
<body>
<div class="row justify-content-center" layout:fragment="main-content">
    <div class="col-md-4">
        <h1 class="text-start" th:text="${isUpdateMode} ? #{appliance.action.edit} : #{appliance.action.create}"></h1>
        <form
              method="post"
              th:action="${!isUpdateMode} ? @{/appliances/create} : @{/appliances/{id}/edit(id=${appliance.id})}" th:object="${appliance}">
            <th:block th:insert="misc/fragments/form :: textinput(labelText=#{appliance.attribute.name}, fieldName='name')"></th:block>
            <th:block th:insert="misc/fragments/form :: selectinput(labelText=#{appliance.attribute.category}, fieldName='category', options=${categories}, valueAccessor='name', objectForComparision=${appliance})"></th:block>
            <th:block th:insert="misc/fragments/form :: textinput(labelText=#{appliance.attribute.model}, fieldName='model')"></th:block>
            <th:block th:insert="misc/fragments/form :: selectinput(labelText=#{appliance.attribute.manufacturer}, fieldName='manufacturer', options=${manufacturers}, valueAccessor='id', objectForComparision=${appliance})"></th:block>
            <th:block th:insert="misc/fragments/form :: selectinput(labelText=#{appliance.attribute.powerType}, fieldName='powerType', options=${powerTypes}, valueAccessor='name', objectForComparision=${appliance})"></th:block>
            <th:block th:insert="misc/fragments/form :: textarea(labelText=#{appliance.attribute.characteristic}, fieldName='characteristic')"></th:block>
            <th:block th:insert="misc/fragments/form :: textarea(labelText=#{appliance.attribute.description}, fieldName='description')"></th:block>
            <th:block th:insert="misc/fragments/form :: textinput(labelText=#{appliance.attribute.power}, fieldName='power')"></th:block>
            <th:block th:insert="misc/fragments/form :: textinput(labelText=#{appliance.attribute.price}, fieldName='price')"></th:block>
            <input type="hidden" th:field="*{version}" th:if="${isUpdateMode}">
            <button class="btn btn-primary" type="submit" th:text="#{misc.action.save}">Save</button>
        </form>
    </div>
</div>
</body>
</html>